<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Ticket Tracker Application</title>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
	integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
	crossorigin="anonymous">
</head>
<body>
	<nav class="navbar navbar-expand-md bg-dark navbar-dark">
		<!-- Brand -->
		<a class="navbar-brand" th:href="@{/tickets}">Ticket Tracker Application</a>
		
		<!-- Toggler/collapsibe Button -->
		<button class="navbar-toggler" type="button" data-toggle="collapse"
			data-target="#collapsibleNavbar" >
			<span class="navbar-toggler-icon"></span>
		</button>
		
		<a th:href="@{/tickets}" style="color: white";>Tickets</a>
		<br>
  		<a th:href="@{/tickets/new}" style="margin-left:1rem; color: white;">  New Ticket</a>
	</nav>

	<div class="container">
		<div class="row">
			<h1>List of tickets</h1>
		</div>

		<div class="search-container">
		    <form action="/action_page.php">
		      <input type="text" name="search">
		     <button class="btn btn-primary" type="submit" >Search</button>
		</div>
		<table class="table table-striped table-bordered">
			<thead class="table-dark">
				<tr>
					<th>#</th>
					<th>Ticket Title</th>
					<th>Ticket Short Description</th>
					<th>Ticket Created on</th>
					<th>Actions</th>
				</tr>
			</thead>
	
			<tbody>
				<tr th:each="ticket: ${tickets}">
					<td th:text="${ticket.id}"></td>
					<td th:text="${ticket.ticketTitle}"></td>
					<td th:text="${ticket.shortDesc}"></td>
					<td th:text="${ticket.CreatedOn}"></td>
					<td><a th:href="@{/tickets/edit/{id}(id=${ticket.id})}"
						class="btn btn-primary" style="color:white">Edit</a> 
						<a th:href="@{/tickets/delete/{id}(id=${ticket.id})}"
						class="btn btn-danger" style="color:white">Delete</a>
						<a th:href="@{/tickets/view/{id}(id=${ticket.id})}"
						class="btn btn-danger" style="background-color: #80ced6; border:none">View</a>
						</td>
				</tr>
			</tbody>	
		</table>
	</div>
</body>
</html>